@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(5,0,0,1) 50%);
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
#logo{
    width: 90px;
    height: auto;
}

#banner {
    background-image: url('https://a-static.besthdwallpaper.com/demon-slayer-hashira-wallpaper-2560x1440-76773_51.jpg');
    background-position: 50% 100%;
    background-size: cover;
    width: 105%;
    height: 850px;
}

#trailer-container{
    width: 105%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.content{
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer{
    width: 50%;
}

#sinopse{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description{
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button{
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.button:hover{
    background-color: #fff;
    color: #000;
}

.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.cards-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card{
    width: 110%;
    height: 900px;
    background-size: cover;
    background-position: 50% 70%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #f1f1f1fb;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover{
    transform: scale(1.02);
}

.banner-1{
    background-image: url('https://rare-gallery.com/thumbs/323121-Tanjiro-Kamado-Flame-Kimetsu-no-Yaiba-4K-iphone-wallpaper.jpg');
}

.banner-2{
    background-image: url('https://i.pinimg.com/originals/bf/72/36/bf723671b1ba54da71bb7864584472e3.jpg');
}

.banner-3{
    background-image: url('https://64.media.tumblr.com/3340aec580215b8932ddc1fb4a7fe80c/138b425f3e1da042-d2/s1280x1920/b3739384fcec2f4e5444db421ec1848a7b99ba7f.jpg');
}

.banner-4{
    background-image: url('http://pm1.narvii.com/7831/5dd82f9465e55616ddeeb3bb2ebdee371264017dr1-415-738v2_uhq.jpg');
}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

span{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation{
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }

    .footer-navigation{
        display: block;
    }

    nav{
        display: none;
    }

    #banner{
        background-position: 40%;
    }

    #trailer-container{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
    }

    .content{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer{
        width: auto;
        height: 200px;
    }

    #sinopse{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description{
        width: 100%;
    }

    .button{
        width: 100%;
        margin-top: 30%;
    }

    .cards-content{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

}

